<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.adaque.wwq.questionaire.dao.student.StudentMapper">



	<select id="getStudentById" parameterType="string" resultType="student">
		SELECT
		T.ID,
		T.NUM,
		T. NAME,
		T. PASSWORD,
		T.COLLEGE_ID,
		T.MAJOR_ID,
		T.CLASS_ID,
		T.SEX,
		T.BIRTHDAY,
		T.QQ,
		T.MAJOR,
		T.MOBILE,
		T.ADDRESS,
		T.PEOPLE,
		T.FAMILY_WORK,
		T.HOBY,
		T.ADVANTAGE,
		T.SPECIALTY,
		T.SHORTCOMING,
		T.PHOTO,
		T.RICH_POOR,
		T.FAMILY_EDUCATION,
		T.STUDY_TIME,
		T.ABILITY_ID
		FROM
		T_STUDENT T
		WHERE
		T.ID =#{value}
	</select>

	<!-- 根据用户名和密码查询 -->
	<select id="getStduentByNameAndPwd" parameterType="studentModel" resultType="student">
		SELECT
		T.ID,
		T.NUM,
		T. NAME,
		T. PASSWORD,
		T.COLLEGE_ID,
		T.MAJOR_ID,
		T.CLASS_ID,
		T.SEX,
		T.BIRTHDAY,
		T.QQ,
		T.MAJOR,
		T.MOBILE,
		T.ADDRESS,
		T.PEOPLE,
		T.FAMILY_WORK,
		T.HOBY,
		T.ADVANTAGE,
		T.SPECIALTY,
		T.SHORTCOMING,
		T.PHOTO,
		T.RICH_POOR,
		T.FAMILY_EDUCATION,
		T.STUDY_TIME,
		T.ABILITY_ID
		FROM
		T_STUDENT T
		WHERE
		T.NUM =#{username} AND T.PASSWORD=#{password}
	</select>


	<select id="getAllStudent" resultType="student">
		SELECT
		T.ID,
		T.NUM,
		T. NAME,
		T. PASSWORD,
		T.COLLEGE_ID,
		T.MAJOR_ID,
		T.CLASS_ID,
		T.SEX,
		T.BIRTHDAY,
		T.QQ,
		T.MAJOR,
		T.MOBILE,
		T.ADDRESS,
		T.PEOPLE,
		T.FAMILY_WORK,
		T.HOBY,
		T.ADVANTAGE,
		T.SPECIALTY,
		T.SHORTCOMING,
		T.PHOTO,
		T.RICH_POOR,
		T.FAMILY_EDUCATION,
		T.STUDY_TIME,
		T.ABILITY_ID
		FROM
		T_STUDENT T
	</select>


	<delete id="deleteStudentById" parameterType="string">
		DELETE FROM
		T_STUDENT T WHERE T.ID=#{value}
	</delete>


	<update id="updateStudentById" parameterType="student">
		
	</update>

	
	
	<insert id="addFormStudent" parameterType="student">
		INSERT INTO T_STUDENT (
			ID,
			SEX,
			NUM,
			NAME,
			PASSWORD
		) VALUES(
			#{id},
			#{sex},
			#{num},
			#{name},
			#{password}
		)
	</insert>
	
	<select id="getStudentByNumAndName" parameterType="userForm" resultType="student">
		SELECT
		T.ID,
		T.NUM,
		T. NAME,
		T. PASSWORD,
		T.COLLEGE_ID,
		T.MAJOR_ID,
		T.CLASS_ID,
		T.SEX,
		T.BIRTHDAY,
		T.QQ,
		T.MAJOR,
		T.MOBILE,
		T.ADDRESS,
		T.PEOPLE,
		T.FAMILY_WORK,
		T.HOBY,
		T.ADVANTAGE,
		T.SPECIALTY,
		T.SHORTCOMING,
		T.PHOTO,
		T.RICH_POOR,
		T.FAMILY_EDUCATION,
		T.STUDY_TIME,
		T.ABILITY_ID
		FROM
		T_STUDENT T
		WHERE
		1=1
		<if test="num!=null and num!=''">
			AND T.NUM=#{num}
		</if>
		
		<if test="name!=null and name!=''">
			AND T.NAME=#{name}
		</if>
	</select>
	
	<insert id="addStudentRole" parameterType="userRole">
		INSERT INTO T_STUDENT_ROLE(STUDENT_ID,ROLE_ID) VALUES('${user_id}','${role_id}')
	</insert>
	
	<select id="getStudentByNum" parameterType="string" resultType="student">
		SELECT T.ID,T.NUM,T.NAME FROM T_STUDENT T WHERE T.NUM=#{value}
	</select>
	
	
	<update id="updatePasswordById" parameterType="userForm">
		UPDATE T_STUDENT T SET T.PASSWORD=#{password} WHERE T.ID=#{id}
	</update>
	
</mapper>