<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.adaque.wwq.questionaire.dao.student.StudentMapper">



	<select id="getStudentById" parameterType="string" resultType="student">
		SELECT
		T.ID,
		T.NUM,
		T.NAME,
		T.PASSWORD,
		T.COLLEGE_ID,
		T.MAJOR_ID,
		T.CLASS_ID,
		T.SEX,
		T.BIRTHDAY,
		T.QQ,
		T.MAJORSTR,
		T.MOBILE,
		T.ADDRESS,
		T.PEOPLE,
		T.FAMILY_WORK,
		T.HOBY,
		T.ADVANTAGE,
		T.SPECIALTY,
		T.SHORTCOMING,
		T.PHOTO,
		T.RICH_POOR,
		T.FAMILY_EDUCATION,
		T.STUDY_TIME,
		T.ABILITY_ID
		FROM
		T_STUDENT T
		WHERE
		T.ID =#{value}
	</select>

	<!-- 根据用户名和密码查询 -->
	<select id="getStduentByNameAndPwd" parameterType="studentModel" resultType="student">
		SELECT
		T.ID,
		T.NUM,
		T.NAME,
		T.PASSWORD,
		T.COLLEGE_ID,
		T.MAJOR_ID,
		T.CLASS_ID,
		T.SEX,
		T.BIRTHDAY,
		T.QQ,
		T.MAJORSTR,
		T.MOBILE,
		T.ADDRESS,
		T.PEOPLE,
		T.FAMILY_WORK,
		T.HOBY,
		T.ADVANTAGE,
		T.SPECIALTY,
		T.SHORTCOMING,
		T.PHOTO,
		T.RICH_POOR,
		T.FAMILY_EDUCATION,
		T.STUDY_TIME,
		T.ABILITY_ID
		FROM
		T_STUDENT T
		WHERE
		T.NUM =#{username} AND T.PASSWORD=#{password}
	</select>


	<select id="getAllStudent" resultType="student">
		SELECT
		T.ID,
		T.NUM,
		T. NAME,
		T. PASSWORD,
		T.COLLEGE_ID,
		T.MAJOR_ID,
		T.CLASS_ID,
		T.SEX,
		T.BIRTHDAY,
		T.QQ,
		T.MAJORSTR,
		T.MOBILE,
		T.ADDRESS,
		T.PEOPLE,
		T.FAMILY_WORK,
		T.HOBY,
		T.ADVANTAGE,
		T.SPECIALTY,
		T.SHORTCOMING,
		T.PHOTO,
		T.RICH_POOR,
		T.FAMILY_EDUCATION,
		T.STUDY_TIME,
		T.ABILITY_ID
		FROM
		T_STUDENT T
	</select>


	<delete id="deleteStudentById" parameterType="string">
		DELETE FROM
		T_STUDENT T WHERE T.ID=#{value}
	</delete>


	<update id="updateStudentById" parameterType="student">
		
	</update>

	
	
	<insert id="addFormStudent" parameterType="student">
		INSERT INTO T_STUDENT (
			ID,
			SEX,
			NUM,
			NAME,
			PASSWORD,
			ABILITY_ID
		) VALUES(
			#{id},
			#{sex},
			#{num},
			#{name},
			#{password},
			#{ability_id}
		)
	</insert>
	
	<select id="getStudentByNumAndName" parameterType="userForm" resultType="student">
		SELECT
		T.ID,
		T.NUM,
		T. NAME,
		T. PASSWORD,
		T.COLLEGE_ID,
		T.MAJOR_ID,
		T.CLASS_ID,
		T.SEX,
		T.BIRTHDAY,
		T.QQ,
		T.MAJORSTR,
		T.MOBILE,
		T.ADDRESS,
		T.PEOPLE,
		T.FAMILY_WORK,
		T.HOBY,
		T.ADVANTAGE,
		T.SPECIALTY,
		T.SHORTCOMING,
		T.PHOTO,
		T.RICH_POOR,
		T.FAMILY_EDUCATION,
		T.STUDY_TIME,
		T.ABILITY_ID
		FROM
		T_STUDENT T
		WHERE
		1=1
		<if test="num!=null and num!=''">
			AND T.NUM=#{num}
		</if>
		
		<if test="name!=null and name!=''">
			AND T.NAME=#{name}
		</if>
	</select>
	
	<insert id="addStudentRole" parameterType="userRole">
		INSERT INTO T_STUDENT_ROLE(STUDENT_ID,ROLE_ID) VALUES('${user_id}','${role_id}')
	</insert>
	
	<select id="getStudentByNum" parameterType="string" resultType="student">
		SELECT T.ID,T.NUM,T.NAME FROM T_STUDENT T WHERE T.NUM=#{value}
	</select>
	
	
	<update id="updatePasswordById" parameterType="userForm">
		UPDATE T_STUDENT T SET T.PASSWORD=#{password} WHERE T.ID=#{id}
	</update>
	
	<update id="updateStudentInfoById" parameterType="student">
		UPDATE T_STUDENT T SET 
			T.QQ=#{qq},
			T.MAJORSTR=#{majorstr},
			T.MOBILE=#{mobile},
			T.ADDRESS=#{address},
			T.RICH_POOR=#{rich_poor},
			T.PEOPLE=#{people},
			T.FAMILY_EDUCATION=#{family_education},
			T.FAMILY_WORK=#{family_work},
			T.HOBY=#{hoby},
			T.ADVANTAGE=#{advantage},
			T.SPECIALTY=#{specialty},
			T.SHORTCOMING=#{shortcoming}
			WHERE T.ID=#{id}
	</update>
	
	<insert id="addAbilityByStudentId" parameterType="ability">
		INSERT INTO T_ABILITY (
			id,
			score,
			major_ability,
			foreign_language,
			other_ysl,
			reward,
			rgpzxy,
			sxjktj,
			gtjjnl,
			wthdnl,
			other_rsl
		)
		VALUES
			(#{id},#{score},#{major_ability},#{foreign_language},#{other_ysl},#{reward},#{rgpzxy},#{sxjktj},#{gtjjnl},#{wthdnl},#{other_rsl})
	</insert>
	
	<update id="updateAbilityByAbilityId" parameterType="ability">
		update t_ability set
		score=#{score},
		major_ability=#{major_ability},
		foreign_language=#{foreign_language},
		other_ysl=#{other_ysl},
		reward=#{reward},
		rgpzxy=#{rgpzxy},
		sxjktj=#{sxjktj},
		gtjjnl=#{gtjjnl},
		wthdnl=#{wthdnl},
		other_rsl=#{other_rsl}
		where id=#{id}
	</update>
	
	
	<select id="getStudentAbilityByAbilityId" parameterType="string" resultType="ability">
		select * from t_ability where id=#{value}
	</select>
	
</mapper>