<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.adaque.wwq.questionaire.dao.privilege.PrivilegeMapper">
	
	
	<select id="getPrivilegeById" parameterType="int" resultType="privilege">
		SELECT ID,NAME FROM T_PRIVILEGE WHERE ID=#{value}
	</select>
	
	<select id="getAllPrivilege" resultType="privilege">
		SELECT ID,NAME FROM T_PRIVILEGE
	</select>
	
	
	<update id="updatePrivilegeById" parameterType="int">
		UPDATE T_PRIVILEGE T SET T.NAME=#{value}
	</update>
	
	<delete id="deletePrivilegeById" parameterType="int">
		DELETE FROM T_PRIVILEGE T WHERE T.ID=#{value}
	</delete>
	
	<insert id="addPrivilege" parameterType="privilege">
		INSERT INTO T_PRIVILEGE(ID,NAME) VALUES(#{id},#{name})
	</insert>
	
	
	
	
	<select id="getPrivilegeResourceById" parameterType="int" resultType="menuTreeModel">
		SELECT B.ID,B.NAME text,B.PRIVILEGE_ID C_ID,B.PATH URL FROM T_RESOURCE B WHERE B.PRIVILEGE_ID=#{value}
	</select>
	
	
	<select id="getRoleIdByPrivilegeId" parameterType="int"  resultType="int">
		SELECT A.ID FROM T_ROLE A, T_PRIVILEGE_ROLE B, T_PRIVILEGE C WHERE A.ID=B.ROLE_ID AND B.FUNCTION_ID=C.ID AND C.ID=#{value}
	</select>
	
	
	<select id="getMaxId" resultType="int">
		SELECT MAX(ID) FROM T_PRIVILEGE
	</select>
	
	<delete id="deletePrivilege" parameterType="int">
		DELETE FROM T_PRIVILEGE WHERE ID=#{value}
	</delete>
	
	
	<delete id="deletePrivilegeResource" parameterType="int">
		DELETE FROM T_RESOURCE WHERE PRIVILEGE_ID=#{value}
	</delete>
	
	
	
</mapper>