<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.adaque.wwq.questionaire.dao.privilege.RoleMapper">
	
	
	<resultMap type="com.adaque.wwq.questionaire.po.Role" id="queryPrivilegeMap">
		
		
	</resultMap>
	
	<select id="getRoleById" parameterType="string" resultMap="queryPrivilegeMap">
		SELECT ID,NAME FROM T_ROLE T WHERE T.ID=#{value}
	</select>
	
	<select id="getAllRole">
		SELECT ID,NAME FROM T_ROLE
	</select>
	
	<update id="updateRoleById" parameterType="role">
		UPDATE T_ROLE T SET T.NAME=#{role.name} WHERE T.ID=#{role.id}
	</update>
	
	<delete id="deleteRoleById" parameterType="string">
		DELETE FROM T_ROLE WHERE ID=#{value}
	</delete>
	
	<insert id="addRole" parameterType="role">
		INSERT INTO T_ROLE(ID,NAME) VALUES(#{role.id},#{role.name})
	</insert>
	
	
</mapper>