<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.adaque.wwq.questionaire.dao.privilege.RoleMapper">
	
	
	<resultMap type="com.adaque.wwq.questionaire.model.privilege.QueryPrivilegeModel" id="queryUserRoleMao">
		<result  column="resource_id" property="resource_id"/>
		<result  column="name" property="resource_name"/>
		<result  column="path" property="resource_path"/>
		<result  column="privilege_id" property="privilege_id"/>
		<result  column="privilege_name" property="privilege_name"/>
	</resultMap>
	
	
	<select id="getRoleById" parameterType="int" resultType="role">
		SELECT ID,NAME FROM T_ROLE T WHERE T.ID=#{value}
	</select>
	
	<select id="getAllRole" resultType="role">
		SELECT ID,NAME FROM T_ROLE
	</select>
	
	<update id="updateRoleById" parameterType="role">
		UPDATE T_ROLE T SET T.NAME=#{role.name} WHERE T.ID=#{role.id}
	</update>
	
	<delete id="deleteRoleById" parameterType="int">
		DELETE FROM T_ROLE WHERE ID=#{value}
	</delete>
	
	<insert id="addRole" parameterType="role">
		INSERT INTO T_ROLE(ID,NAME) VALUES(#{role.id},#{role.name})
	</insert>
	
	
	
	<!-- <select id="getUserRoleAndPrivilege" parameterType="string" resultMap="queryUserRoleMao">
		SELECT
			a.id resource_id,
			a. NAME,
			a.path,
			b.id privilege_id,
			b. NAME privilege_name
		FROM
			t_resource a,
			t_privilege b
		WHERE
			a.privilege_id = b.id
		AND a.privilege_id IN (
			SELECT
				t.id
			FROM
				t_privilege T
			WHERE
				T.ID IN (
					SELECT
						c.function_id
					FROM
						T_ROLE A,
						T_PRIVILEGE B,
						T_PRIVILEGE_ROLE C
					WHERE
						A.ID = C.role_id
					AND B.ID = C.FUNCTION_ID
					AND a.id = ${value}
				)
		)
	</select> -->
	
	
	<select id="getUserRoleMenu" parameterType="int" resultType="menuTreeModel">
	SELECT B.ID,B.NAME TEXT,C.FUNCTION_ID C_ID FROM 
		T_ROLE A,
		T_PRIVILEGE B,
		T_PRIVILEGE_ROLE C
		WHERE 
		A.ID=C.ROLE_ID AND 
		B.ID=C.FUNCTION_ID AND 
		A.ID=${value}
	</select>
	
	
	<select id="getUserRoleLeave" parameterType="int" resultType="menuTreeModel">
	SELECT B.ID,B.NAME TEXT,B.PATH URL FROM 
		T_PRIVILEGE A,
		T_RESOURCE B
		WHERE 
		A.ID=B.PRIVILEGE_ID AND
		A.ID=${value}
	</select>
	
	
</mapper>