<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.adaque.wwq.questionaire.dao.teacher.TeacherMapper">
	
	<select id="getTeacherById" parameterType="string" resultType="teacher">
		SELECT
			T.ID,
			T.NUM,
			T.NAME,
			T.PASSWORD,
			T.TYPE
		FROM T_TEACHER T 
		WHERE T.ID=#{value}
	</select>
	
	<select id="getTeacherByNameAndPassword" parameterType="teacherModel" resultType="teacher">
		SELECT
			T.ID,
			T.NUM,
			T.NAME,
			T.PASSWORD,
			T.TYPE
			FROM T_TEACHER T
			WHERE T.NUM=#{teacherModel.num} AND T.PASSWORD=#{teacherModel.password}
	</select>
	
	<select id="getAllTeacher" resultType="teacher">
		SELECT 
			T.ID,
			T.NUM,
			T.NAME,
			T.PASSWORD,
			T.TYPE
		FROM T_TEACHER
	</select>
	
	<update id="updateTeacherById" parameterType="teacher">
		UPDATE T_TEACHER T SET
			T.NUM=#{teacher.num},
			T.NAME=#{teacher.name},
			T.PASSWORD=#{teacher.password},
			T.TYPE=#{teacher.type}
		WHERE T.ID=#{teacher.id}
	</update>
	
	<insert id="addTeacher" parameterType="teacher">
		INSERT INTO T_TEACHER
		(ID,NUM,NAME,PASSWORD,TYPE)
		VALUES
		(#{teacher.id},#{teacher.num},#{teacher.name},#{teacher.password},#{teacher.type})
	</insert>
	
	<delete id="deleteTeacherById" parameterType="string">
		DELETE FROM T_TEACHER T WHERE T.ID=#{value}
	</delete>
	
	
</mapper>