<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.adaque.wwq.questionaire.dao.teacher.TeacherMapper">
	
	<select id="getTeacherById" parameterType="string" resultType="teacher">
		SELECT
			T.ID,
			T.NUM,
			T.NAME,
			T.PASSWORD,
			T.TYPE,
			T.SEX
		FROM T_TEACHER T 
		WHERE T.ID=#{value}
	</select>
	
	<select id="getTeacherByNameAndPassword" parameterType="teacherModel" resultType="teacher">
		SELECT
			T.ID,
			T.NUM,
			T.NAME,
			T.PASSWORD,
			T.TYPE,
			T.SEX
			FROM T_TEACHER T
			WHERE T.NUM=#{username} AND T.PASSWORD=#{password}
	</select>
	
	<select id="getAllTeacher" resultType="teacher">
		SELECT 
			T.ID,
			T.NUM,
			T.NAME,
			T.PASSWORD,
			T.TYPE,
			T.SEX
		FROM T_TEACHER T
	</select>
	
	<update id="updateTeacherById" parameterType="teacher">
		UPDATE T_TEACHER T SET
			T.NUM=#{num},
			T.NAME=#{name},
			T.PASSWORD=#{password},
			T.TYPE=#{type}
		WHERE T.ID=#{id}
	</update>
	
	<insert id="addTeacher" parameterType="teacher">
		INSERT INTO T_TEACHER
		(ID,NUM,NAME,PASSWORD,TYPE,SEX)
		VALUES
		(#{id},#{num},#{name},#{password},#{type},#{sex})
	</insert>
	
	<delete id="deleteTeacherById" parameterType="string">
		DELETE FROM T_TEACHER T WHERE T.ID=#{value}
	</delete>
	
	
	<select id="getTeacherRoleId" parameterType="string" resultType="string">
			SELECT
			B.ID
		FROM
			T_TEACHER A,
			T_ROLE B,
			T_TEACHER_ROLE C
		WHERE
			A.ID = C.TEACHER_ID
		AND B.ID = C.ROLE_TEACHER_ID
		AND A.ID = #{value}
	</select>
	
	
	<select id="getTeacherByNumAndName" parameterType="userForm" resultType="teacher">
		SELECT
			T.ID,
			T.NUM,
			T. NAME,
			T. PASSWORD,
			T.TYPE,
			T.SEX
		FROM
			T_TEACHER T
		WHERE 1=1
		
		<if test="null!=num and num != ''">
		    AND T.NUM = #{num}
    	</if>
    	
    	<if test="null!=name and name != ''">
		    AND T. NAME = #{name}
    	</if>
	</select>
	
	
	<insert id="addTeacherRole" parameterType="userRole">
		INSERT INTO T_TEACHER_ROLE (TEACHER_ID, ROLE_TEACHER_ID)
		VALUES
			(
				'${user_id}',
				'${role_id}'
			)
	</insert>
	
	<select id="getTeacherByNum" parameterType="string" resultType="teacher">
		SELECT * FROM T_TEACHER T WHERE T.NUM=#{value}
	</select>
	
</mapper>