<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.adaque.wwq.questionaire.dao.exam.ExamMapper">
	
	<resultMap type="exam_plan" id="getAllExamPlanResultMap">
		<id column="id" property="id" />
		<result column="closetime" property="closetime"/>	
		<result column="publishtime" property="publishtime"/>	
		<result column="teacher_id" property="teacher_id"/>	
		<result column="name" property="name"/>	
		<result column="exam_id" property="exam_id"/>
		<result column="status" property="status"/>
		
		<association property="exam" javaType="exam">
			<id column="exam_id" property="id" />
			<result column="exam_name" property="name"/>
			<result column="author" property="author"/>
			<result column="exam_identity" property="exam_identity"/>
		</association>
		
		<association property="teacher" javaType="teacher">
			<id column="teacher_id" property="id" />
			<result column="teacher_name" property="name"/>
			<result column="num" property="num"/>
		</association>
	</resultMap>
	
	<select id="getAllExam" resultType="exam">
		SELECT * FROM T_EXAM
	</select>	
	
	<delete id="deleteExamById" parameterType="string">
		DELETE FROM T_EXAM WHERE ID=#{value}
	</delete>
	
	<insert id="addExam" parameterType="exam">
		INSERT INTO T_EXAM(ID,TYPE,NAME,AUTHOR,EXAM_IDENTITY,CREATETIME)
		VALUES(#{id},#{type},#{name},#{author},#{exam_identity},now())
	</insert>
	
	<insert id="addExamQuestionTable" parameterType="examPo">
		INSERT INTO T_EXAM_MIDDLE(EXAM_ID,CHOICE_ID) VALUES(#{exam_id},#{choice_id})
	</insert>
	
	
	<select id="getAllQuestion" resultType="question">
		SELECT * FROM T_ANSWER_QUESTION
	</select>
	
	<insert id="addQuestion2Exam" parameterType="examPo">
		INSERT INTO T_EXAM_QUESTION(EXAM_ID,QUESTION_ID) VALUES(#{exam_id},#{question_id})
	</insert>
	
	<delete id="deleteQuestion2Exam" parameterType="string">
		DELETE FROM T_EXAM_QUESTION WHERE EXAM_ID=#{value}
	</delete>
	
	<delete id="deleteChoice2Exam" parameterType="string">
		DELETE FROM T_EXAM_MIDDLE WHERE EXAM_ID=#{value}
	</delete>
	
	<select id="getAllExamPlan" resultMap="getAllExamPlanResultMap">
		SELECT
			a.*, 
			b.NAME exam_name,
			b.exam_identity,
			c.id,
			c.num,
			c.NAME teacher_name
		FROM
			t_exam_plan a,
			t_exam b,
			t_teacher c
		WHERE
			a.exam_id = b.id
		AND c.id = a.teacher_id
	</select>
	
	
	<insert id="addExamPlan" parameterType="exam_plan">
		INSERT INTO T_EXAM_PLAN (
			ID,
			TEACHER_ID,
			EXAM_ID,
			CLOSETIME,
			PUBLISHTIME,
			`STATUS`
		)
		VALUES
			(#{id},
			 #{teacher_id},
			 #{exam_id},
			 #{closetime},
			 #{publishtime},
			 #{status}
			)
			</insert>
	
	
	<delete id="deleteExamPlanById" parameterType="string">
		DELETE FROM T_EXAM_PLAN WHERE ID=#{value}
	</delete>
	
	<update id="updateExamPlanStatus" parameterType="examPo">
		UPDATE T_EXAM_PLAN T SET T.STATUS=#{status} WHERE T.ID=#{plan_id}
	</update>
	
</mapper>