<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.adaque.wwq.questionaire.dao.exam.ExamMapper">
	
	<select id="getAllExam" resultType="exam">
		SELECT * FROM T_EXAM
	</select>	
	
	<delete id="deleteExamById" parameterType="string">
		DELETE FROM T_EXAM WHERE ID=#{value}
	</delete>
</mapper>